body {
  margin: 0;
  padding: 0;
}

.header {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 20px 10px;
}

.header.logo {
  background-image: url(./assets/images/logo.png);
}

.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

.container {
  max-width: 1200px;
  margin: auto;
}

img {
  width: 100px;
}

.header-right {
  float: right;
}