body {
  margin: 0;
  padding: 0;
}

/* scrollbar customization */
body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(151, 151, 151);
}

body::-webkit-scrollbar-thumb {
  background: orangered;
  border-radius: 15px;
}

body::-webkit-scrollbar-thumb:hover {
  background: #b30000;
}

/* *********** */

header {
  overflow: hidden;
  background-color: #eee;
  padding: 10px 10px;
  display: flex;
  justify-content: space-between;
}

header a {
  float: left;
  color: black;
  text-align: center;
  padding: 0 12px;
  text-decoration: none;
  font-size: 18px;
  border-radius: 4px;
}

header a.logo {
  font-size: 25px;
  font-weight: bold;
}

header img {
  width: 100px;
}

.right {
  width: 100px;
  display: none;
}

footer {
  text-align: center;
  padding: 3px;
  background-color: #efefbb;
  color: black;
}

main {
  padding: 20px 0;
  background-color: #efefbb;
  background-image: linear-gradient(to right, #d4d3dd, #efefbb);
  width: 100%;
}

.poke_container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  max-width: 1200px;
}

.pokemon {
  background-color: #eee;
  border-radius: 20px;
  box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
  padding: 20px;
  margin: 10px;
  text-align: center;
}

.pokemon .img-container {
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 50%;
  width: 220px;
  height: 220px;
}

.pokemon .img-container img {
  margin-top: 20px;
  max-width: 90%;
  height: 200px;
}

.title,
.info {
  display: flex;
  justify-content: space-between;
}

.pokemon .info {
  margin-top: 20px;
}

.pokemon .number {
  background-color: #fff;
  padding: 5px 10px;
  border-radius: 0 0 0 40px;
  font-size: 0.8em;
  font-weight: 600;
}

.pokemon .name {
  margin: 15px 0 7px;
  letter-spacing: 1px;
}

.title .name {
  padding: 10px;
  text-transform: capitalize;
  margin: 0;
}

.likesbox {
  background-color: yellow;
  border-radius: 0 0 40px 0;
  padding: 1px 15px;
  border: 2px solid orangered;
}

.title {
  background-color: #d4d3dd;
  display: flex;
  align-items: center;
  padding: 5px;
}

.like-btn {
  padding: 5px;
  color: red;
  cursor: pointer;
  transition: all 0.2s ease;
}

.like-btn:hover {
  transform: scale(1.3);
  color: rgb(255, 55, 55);
}

.like-btn:active {
  color: rgb(133, 1, 1);
}

.Comments-button {
  margin-top: 20px;
  width: inherit;
  background-color: orangered;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  font-weight: 600;
  border-radius: 10px;
  cursor: pointer;
}

@media screen and (min-width: 570px) {
  .rigth {
    display: inline-block;
  }
}
