body {
  margin: 0;
  padding: 0;
}

header {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 10px 10px;
  display: flex;
  justify-content: space-between;
}

header a {
  float: left;
  color: black;
  text-align: center;
  padding: 0 12px;
  text-decoration: none;
  font-size: 18px;
  border-radius: 4px;
}

header a.logo {
  font-size: 25px;
  font-weight: bold;
}

header img {
  width: 100px;
}

.right {
  width: 100px;
}

footer {
  text-align: center;
  padding: 3px;
  background-color: darksalmon;
  color: white;
}

main {
  padding: 20px 0;
  background-color: #efefbb;
  background-image: linear-gradient(to right, #d4d3dd, #efefbb);
  width: 100%;
}

.poke_container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  max-width: 1200px;
}

.pokemon {
  background-color: #eee;
  border-radius: 20px;
  box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
  padding: 20px;
  margin: 10px;
  text-align: center;
}

.pokemon .img-container {
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 50%;
  width: 220px;
  height: 220px;
}

.pokemon .img-container img {
  margin-top: 20px;
  max-width: 90%;
  height: 200px;
}

.pokemon .info {
  margin-top: 20px;
}

.pokemon .number {
  background-color: #fff;
  border-radius: 10px;
  font-size: 0.8em;
  padding: 5px 10px;
}

.pokemon .name {
  margin: 15px 0 7px;
  letter-spacing: 1px;
}
